.cart-widget {
  position: relative;
  cursor: pointer;
  text-align: center;
}

.qty-display {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  font-size: 12px;
  position: absolute;
  text-align: center;
  line-height: 17px;
}
.homeConteiner{
  padding: 10px;
  
}

.cardsContainer {
  padding: 10px;
  display: flex;
  justify-content: center;

}

.cardDetailContainer {
  
  display: flex;
  justify-content: center;
  width: 100%;
}

.boxDetail{
border-radius: 5px;
background-color: bisque;
padding: 10px;
  }

  .bg-card{
    background-color: bisque;
  }